.avatar-uploader {
    display: flex;
    width: 100px;
    height: 100px;
}

.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.avatar-uploader .container {
    width: 98px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-uploader img {
    width: 100%;
    height: 100%;
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
}