/*class: render*/

.operateBar {
    width: var(--witdh);
    z-index: 5;
    position: fixed;
    display: flex;
    bottom: 0;
    flex-wrap: wrap;
    align-items: flex-end;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    border: white solid 1px;
    background: #B0B0B0;
    border-bottom: none;
}

.char-bar {
    position: relative;
    display: flex;
    width: 100%;
    background: #A0A0A0;
    border-top: 1px solid lightgrey;
}

.char-bar .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}

.char {
    flex-shrink: 0;
    margin: 2px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #808080;
    overflow: hidden;
}

.char-curr {
    flex-shrink: 0;
    margin: 2px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #505050;
    overflow: hidden;
    border: mediumslateblue solid 2px;
}

.char:hover {
    background: #686868;
}

.char img {
    width: 52px;
    height: 52px;
}

.char-curr img {
    width: 48px;
    height: 48px;
}

.option {
    margin: 2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    background: #A0A0A0;
}

.edit {
    position: absolute;
    margin: 0;
    right: 0;
    align-self: center;
    border-radius: 0;
    border-left: lightgrey solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textarea {
    border-radius: 0;
    outline: none;
    border: none;
    border-bottom: white solid 1px;
    color: white;
    font-size: 15px;
    height: 20px;
    width: calc(100% - 140px);
    padding: 0 0 1px 0;
    margin: 5px 0 5px 0;
    background-color: transparent;
    resize: none;
}

.moretype-bar {
    margin-top: 4px;
    position: relative;
    bottom: -1px;
    width: 100%;
    height: 0;
    border-top: lightgrey solid 1px;
    transition: height ease 0.3s;
    display: flex;
    overflow: hidden;
}

.moretype-bar.show {
    height: 100px;
}

.moretype-bar .block {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 50px;*/
    /*background: aqua;*/
    flex-flow: column;
    color: #707070;
    transition: color cubic-bezier(0.3, 0, 0.5, 1) 0.2s;
    cursor: pointer;
}

.moretype-bar .block:hover {
    color: #505050;
}

.button-bar {
    display: flex;
    align-items: center;
    height: 35px;
    flex-grow: 1;
    margin: 5px 7px 3px 7px;
    align-self: flex-end;
}

.button-bar button {
    height: 100%;
    width: 48%;
    margin-right: 2%;
    background-color: transparent;
    border-radius: 1px;
    border: lightgrey solid 1px;
    box-shadow: 0 0 3px 1px grey;
    /*border: none;*/
}

.button-bar button:hover {
    background-color: #B0B0B0;
}