/*class: render*/

#body {
    width: 100%;
    height: 100vh;
    background: #303030;
}

.body {
    height: 100%;
    display: flex;
    justify-content: center;
}

.window {
    height: 100%;
    position: relative;
    padding: 20px 10px 10px 10px;
    transition: background-color ease 1s;
}