/*class: dialogue*/

pre {
    margin: 0;
    word-break: break-all;
    white-space: pre-wrap;
}

.avatar {
    position: relative;
    flex-shrink: 0;
}

.avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.avatar-id {
    position: absolute;
    color: var(--dialogue-color);
    font-size: small;
}
.avatar-id.left {
    left: 78px;
}

.avatar-id.right {
    right: 78px;
}

.monologue-box {
    align-self: flex-start;
    flex-grow: 1;
    padding: 8px;
    /*font-size: var(--font-size);*/
    background: #606060;
    color: white;
    opacity: 0.6;
}

.image-box {
    align-self: flex-start;
    position: relative;
    padding: 7px;
    background: var(--dialogue-background);
    border: var(--dialogue-border-color) solid 1px;
    color: var(--dialogue-color);
}

.image-box img {
    display: flex;
}

.narration-box {
    align-self: flex-start;
    flex-grow: 1;
    padding: 8px;
    /*font-size: var(--font-size);*/
}

.dialogue-box {
    align-self: flex-end;
    flex-grow: 1;
    padding: 8px;
    /*font-size: var(--font-size);*/
    position: relative;
    background: var(--dialogue-background);
    border: var(--dialogue-border-color) solid 1px;
    color: var(--dialogue-color);
}

.left .tail {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -10px;
    transform: rotate(-2deg);
    border-bottom: var(--dialogue-border-color) solid 1px;
    overflow: hidden;
}

.left .tail2 {
    position: absolute;
    width: 13px;
    left: 1px;
    height: 10px;
    top: 6px;
    transform: rotate(-35deg);
    background: var(--dialogue-background);
    border-top: var(--dialogue-border-color) solid 1px;
}

.right .tail {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 100%;
    top: 9px;
    transform: rotate(2deg);
    border-bottom: var(--dialogue-border-color) solid 1px;
    overflow: hidden;
}

.right .tail2 {
    position: absolute;
    width: 13px;
    left: -4px;
    height: 10px;
    top: 6px;
    transform: rotate(35deg);
    background: var(--dialogue-background);
    border-top: var(--dialogue-border-color) solid 1px;
}