/*class: dialogue*/

pre {
    margin: 0;
    word-break: break-all;
    white-space: pre-wrap;
}

.avatar {
    position: relative;
    flex-shrink: 0;
}

.avatar img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.avatar-name {
    position: absolute;
    color: var(--dialogue-color);
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    white-space: nowrap;
}
.avatar-name.left {
    left: 78px;
}

.avatar-name.right {
    right: 78px;
}

.box {
    flex-grow: 1;
    padding: 8px;
    position: relative;
    align-self: flex-start;
    margin-top: var(--show-avatar-name);
}

.monologue-box {
    background: #606060;
    color: white;
    opacity: 0.6;
}

.image-box {
    position: relative;
    margin-top: var(--show-avatar-name);
    padding: 7px;
    background: var(--dialogue-background);
    border: var(--dialogue-border-color) solid 1px;
    color: var(--dialogue-color);
}

.image-box img {
    display: flex;
}

.dialogue-box {
    flex-grow: 1;
    padding: 8px;
    /*font-size: var(--font-size);*/
    position: relative;
    background: var(--dialogue-background);
    border: var(--dialogue-border-color) solid 1px;
    color: var(--dialogue-color);
}

.left .tail {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -10px;
    transform: rotate(-2deg);
    border-bottom: var(--dialogue-border-color) solid 1px;
    overflow: hidden;
}

.left .tail2 {
    position: absolute;
    width: 13px;
    left: 1px;
    height: 10px;
    top: 6px;
    transform: rotate(-35deg);
    background: var(--dialogue-background);
    border-top: var(--dialogue-border-color) solid 1px;
}

.right .tail {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 100%;
    top: 9px;
    transform: rotate(2deg);
    border-bottom: var(--dialogue-border-color) solid 1px;
    overflow: hidden;
}

.right .tail2 {
    position: absolute;
    width: 13px;
    left: -4px;
    height: 10px;
    top: 6px;
    transform: rotate(35deg);
    background: var(--dialogue-background);
    border-top: var(--dialogue-border-color) solid 1px;
}

.option-box {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.option-box .block {
    width: 80%;
    margin: 10px 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    color: #F0F0F0;
}

.option-box .text {
    padding: 8px;
    max-width: calc(100% - 55px);
    position: relative;
    z-index: 2;
}

.option-box .bg {
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #808080;
    opacity: 0.6;
}

.option-box .triangle {
    border-left: 7px solid lightgrey;
}

.select-box {
    display: flex;
    align-items: center;
    border: dimgrey solid 1px;
    background: #585854;
    color: var(--dialogue-color);
}

.select-box .text {
    flex-grow: 1;
    text-align: center;
}

.select-box .triangle-box {
    display: flex;
    width: 55px;
}

.select-box .triangle {
    border-left: 7px solid grey;
}

.triangle {
    width: 0;
    height: 0;
    margin-right: 3px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.title-box {
    width: 100%;
    display: flex;
    align-items: center
}

.title-box .block {
    width: 2px;
    height: 2px;
    position: absolute;
    background-color: darkgrey;
}

.title-box .line {
    margin-left: 5px;
    flex-grow: 1;
    height: 0;
    color: grey;
    border-top: grey solid 1px;
}